<!-- public/index.html -->
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bem-vindo</title>
</head>

<body>
    <h1>Bem-vindo ao <%=nome %></h1>
</body>

</html>

<!-- agora no terminal rode o comando node server e acesse a url http://localhost:3000/
 -->